.borrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.borrow-card {
    width: 75%;
    display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px !important;
	box-shadow: 5px 5px 10px -3px grey;
	border: 1px solid darkgrey;
    margin: 50px 0 !important;
}

.borrow-card-title {
    font-size: 35.25pt;
    font-weight: bold;
}

.borrow-operation-container {
    width: 50%;
}

.borrow-operation-container-title {
    font-size: 24.17pt;
    font-weight: bold;
}

.borrow-btn {
    margin: 0 10px;
}